body {
    
    background: linear-gradient(60deg, #0B173B 80%, #0B2161 60%);
    height: 500px;
}

.filter-section {
    width:200px;
    position: absolute;
    top:100px;
    left:20px;
   

}

.table-section {
    position: absolute;
    left: 240px;
    top:100px;
    width:auto;
    right:20px;
    
}


#header {
    position: relative;
    width: 100%;
    height: 80px;
}


img {
    width: 100%;
    height: 100%;
}

#header_word {
    position: absolute;
    left: 20px;
    top: 3px;
    color: skyblue;
    font-family:Verdana;

}

table {
    
    width:100%;  
    background-color: #E0E0E0;
    
}
.panel-body {

    background-color: #E0E0E0;

}
.form-group {
    
    background-color: white;
}

td {
    word-break: break-word;
}

#search {
    display:inline;
}

#copyright {
    text-align: center;
    color: skyblue;
}

#page {

    align-self: center
}

#result-count {
    text-align: center;
}


